@-webkit-keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font: 500 16px/20px 'Calibri', 'Arial', sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    margin: 0 0 80px 500px;
}

.items.pulse {
    -webkit-animation: .8s ease-in-out 0s 3 pulse;
    animation: .8s ease-in-out 0s 3 pulse;
}

.item {
    position: absolute;
    left: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 35px;
    background-color: #cce;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.item:nth-child(even) {
    background-color: #ccb7ee;
}

.hint-text {
    position: absolute;
    left: 32px;
    top: 96px;
    font-size: 20px
}

.start-sort {
    position: absolute;
    left: 32px;
    top: 32px;
    padding: 1em 2em;
    border: none;
    border-radius: 40px;
    font: inherit;
    font-weight: 600;
    text-transform: uppercase;
    background: #ccb7ee;
    color: #3D315D;
    cursor: pointer;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.start-sort:hover {
    background: #3D315D;
    color: #ccb7ee;
    cursor: pointer;
}

.start-sort:focus {
    outline: none;
}

.start-sort:disabled {
    background: #ccc;
    color: #555;
    cursor: default;
}

.start-sort:disabled:hover {
    background: #ccc;
    color: #555;
}